body{
    text-align: none;
    font-size: 13px;
    background-color: lightblue;
    padding-top: 20px;
}

h1{
    margin-top: 10px;
    margin-bottom:10px;
}

button, .save{
    border: none;
    background-color: green;
    border-radius: 2px;
    color: white;
    padding: 10px 20px;
}

.save{
    background-color: blue;
}

p{
    font-weight: bold;
    font-size: 20px;
}

span{
    margin-right: 8px;
    margin-left: 4px;
    text-decoration: underline;
}

input{
    margin-left: 0px;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;
    border: 1px solid green;
}

/* input:active{
    background-color: aqua;
} */